{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="types">
    {% for type in types %}
        <p>{{ type.name }} - {{ type.pokeapiId }}</p>
    {% endfor %}
</div>
{% endblock %}
